http:
  routers:
    dashboard:
      rule: "Host(`traefik.20190915.xyz`)"
      entryPoints: "https"
      service: "api@internal"
    lede:
      rule: "Host(`lede.20190915.xyz`)"
      entryPoints: "https"
      service: lede-service
    switch:
      rule: "Host(`switch.20190915.xyz`)"
      entryPoints: "https"
      service: switch-service
    m6g:
      rule: "Host(`m6g.20190915.xyz`)"
      entryPoints: "https"
      service: m6g-service
    pve:
      rule: "Host(`pve.20190915.xyz`)"
      entryPoints: "https"
      service: pve-service
    dsm:
      rule: "Host(`dsm.20190915.xyz`)"
      entryPoints: "https"
      service: dsm-service
    atuin:
      rule: "Host(`atuin.20190915.xyz`)"
      entryPoints: "https"
      service: atuin-service
    vaultwarden:
      rule: "Host(`vaultwarden.20190915.xyz`)"
      entryPoints: "https"
      service: vaultwarden-service
    gitea:
      rule: "Host(`gitea.20190915.xyz`)"
      entryPoints: "https"
      service: gitea-service

  services:
    lede-service:
      loadBalancer:
        servers:
          - url: "http://192.168.50.1"
    switch-service:
      loadBalancer:
        servers:
          - url: "http://192.168.50.2"
    m6g-service:
      loadBalancer:
        servers:
          - url: "http://192.168.50.11"
    pve-service:
      loadBalancer:
        servers:
          - url: "https://192.168.50.5:8006"
    dsm-service:
      loadBalancer:
        servers:
          - url: "http://192.168.50.4:5000"
    atuin-service:
      loadBalancer:
        servers:
          - url: "http://192.168.50.21:8888"
    vaultwarden-service:
      loadBalancer:
        servers:
          - url: "http://192.168.50.21:8000"
    gitea-service:
      loadBalancer:
        servers:
          - url: "http://192.168.50.230:3000"
